Flask
flask-restplus
flask_httpauth
werkzeug==2.0.3
waitress
paste
confuse
spacy
tmdbv3api
psycopg2-binary
flask-cors
https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.4.0/fr_core_news_md-3.4.0-py3-none-any.whl
